{% extends 'index/base.html' %}

    {% block main %}
<!--banner部分开始-->
  <div class="banner_box1">
        <ul class="banner_pic1">
            <li><img src="../../static/images/banner1.jpg" /></li>
            <li><img src="../../static/images/xsj_ban1.jpg" /></li>
            <li><img src="../../static/images/xsj_ban2.jpg" /></li>
            <li><img src="../../static/images/xsj_ban3.jpg" /></li>
            <li><img src="../../static/images/index_banner3.jpg" /></li>
        </ul>
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
        <div class="num"><ul></ul></div>
  </div>
	<script>
    /*鼠标移过，左右按钮显示*/
    $(".banner_box1").hover(function(){
        $(this).find(".prev,.next").fadeTo("show",0.1);
    },function(){
        $(this).find(".prev,.next").hide();
    })
    /*鼠标移过某个按钮 高亮显示*/
    $(".prev,.next").hover(function(){
        $(this).fadeTo("show",0.7);
    },function(){
        $(this).fadeTo("show",0.1);
    })
    $(".banner_box1").slide({ titCell:".num ul" , mainCell:".banner_pic1" , effect:"fold", autoPlay:true, delayTime:700 , autoPage:true });
    </script>
    <!-- 代码 结束 -->
  <!--banner部分结束-->

<!--内容开始-->
<div class="content_box1">
  <div class="content_box2"> 
    <div class="menu_box">
       <p class="menu_box_title">黄金学院<span>Gold College</span></p>
       <ul class="menu_box1">
          <li><a href="{% url 'gold:college' %}">黄金T+D</a></li>
          <li><a href="{% url 'gold:college2' %}">纸黄金</a></li>
          <li><a href="{% url 'gold:college3' %}">COMEX黄金</a></li>
          <li><a href="{% url 'gold:college4' %}">伦敦金</a></li>
          <li><a href="{% url 'gold:college5' %}">金币</a></li>
          <li><a href="{% url 'gold:college6' %}">投资技巧</a></li>
          <li><a href="{% url 'gold:college7' %}">黄金投资</a></li>
       </ul>
    </div>
    <div class="content_boxL">
       <div class="content_boxL_nav">
         <p class="content_boxL_nav_title"><b>福州君枫珠宝</b></p>
         <div class="content_boxL_nav_R"><a href="">首页 ></a> <a href="">黄金学院 </a></div>
       </div>
       <div class="content_boxL_text">
         <p class="yewu_p"><span class="yewu_title"><a href="{% url 'gold:college' %}">黄金T+D</a>：</span>
                    是指由上海黄金交易所统一制定的、规定在将来某一特定的时间和地点交割一定数量标的物的标准化合约。T+D里的"T"是Trade（交易）的首字母，"D"是Delay（延期）的首字母。这种买卖是由转移价格波动风险的生产经营者和承受价格风险而获利的风险投资者参加的，在交易所内依法公平竞争而进行的，并且有保证金制度为保障。
                    <span class="yewu_title"><a href="{% url 'gold:college' %}">查看详情 >></a></span></p>
           <p class="yewu_p"><span class="yewu_title"><a href="{% url 'gold:college2' %}">纸黄金</a>：</span>
                    是一种个人凭证式黄金，投资者按银行报价在账面上买卖“虚拟”黄金，个人通过把握国际金价走势低吸高抛，赚取黄金价格的波动差价。投资者的买卖交易记录只在个人预先开立的“黄金存折账户”上体现，不发生实金提取和交割。“纸黄金”在外汇中的概念：特别提款权是国际货币基金组织创设的一种用于会员国之间结算国际收支逆差的储备资产和记账单位。
                    <span class="yewu_title"><a href="{% url 'gold:college2' %}">查看详情 >></a></span></p>
           <p class="yewu_p"><span class="yewu_title"><a href="{% url 'gold:college3' %}">COMEX黄金</a>：</span>
                    美式黄金则是以美国的纽约商品交易所（COMEX）和芝加哥商品交易所（IMM）为代表的黄金市场实际上建立在典型的期货市场基础上，其交易类似于在该市场上进行交易的其它种商品。期货交易所作为一个非赢利性机构，本身不参加交易，只是为交易提供场地、设备，同时制定有关法规，确保交易公平、公正地进行，对交易进行严格监控。
                    <span class="yewu_title"><a href="{% url 'gold:college3' %}">查看详情 >></a></span></p>
           <p class="yewu_p"><span class="yewu_title"><a href="{% url 'gold:college4' %}">伦敦金</a>：</span>
                    是指由伦敦国际金融期货交易所提供的一种交易产品，是存放在伦敦城地下金库里的99.5%纯度的400盎司金砖。伦敦金不是一种黄金，而是一种贵金属保证金交易方式。因起源于伦敦而得名，在国际市场上已有超过300年的历史，是市场上最热门的黄金投资方式，广为投资者和炒家所追捧。
                    <span class="yewu_title"><a href="{% url 'gold:college4' %}">查看详情 >></a></span></p>
           <p class="yewu_p"><span class="yewu_title"><a href="{% url 'gold:college5' %}">金币/金条</a>：</span>
                    金币多为圆形盘状，价格昂贵，现在属于名贵收藏品。在古代为一种货币，进行买卖。人类历史上相当长的一段时间内金币是很多国家的官方货币。在现代一般为私有的收藏品，是一种纪念价值相当高的纪念物。在黄金市场上交易量最多的金币有：南非的克鲁格金币，英国的大不列颠金银币，加拿大的枫叶金币，美国的鹰扬金币，墨西哥的金彼索。我国的熊猫金币在国际上也较为抢手。
                    <span class="yewu_title"><a href="{% url 'gold:college5' %}">查看详情 >></a></span></p>
           <p class="yewu_p"><span class="yewu_title"><a href="{% url 'gold:college6' %}">投资技巧</a>：</span>
                    理财讲究门道，增加收入应该懂得方法和技巧。主要在如何才能理好财，如何才能“钱生钱”等技巧方面进行说明及指导。阐述了处在这样一个商品化的社会里，一个家庭、一个人要生存，就必须学会理财的理论根据。“赚钱不在多辛苦，只在思路胜一筹！
                    <span class="yewu_title"><a href="{% url 'gold:college6' %}">查看详情 >></a></span></p>
            <p class="yewu_p"><span class="yewu_title"><a href="{% url 'gold:college7' %}">黄金投资</a>：</span>
                    黄金长久以来一直是一种投资工具。它价值高，并且是一种独立的资源，不受限于任何国家或贸易市场，它与公司或政府也没有牵连。因此，投资黄金通常可以帮助投资者避免经济环境中可能会发生的问题，而且，黄金投资是世界上税务负担最轻的投资项目。黄金投资意味着投资于金条、金币、甚至金饰品，投资市场中存在着众多不同种类的黄金帐户。
                    <span class="yewu_title"><a href="{% url 'gold:college7' %}">查看详情 >></a></span></p>
         </div>
    </div>
   <div class="clear"></div>
      {% endblock %}
